@{
    ViewData["Title"] = "Cart";
    ViewData["Notif"] = ViewBag.Notif;
    ViewData["Name"] = ViewBag.Name;
}
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a asp-action="Index" asp-controller="Home">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Attendance</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid p-t-30">
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Tanggal</th>
                                    <th>Clock In</th>
                                    <th>Clock Out</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    @foreach (var x in ViewBag.Date)
                                    {

                                        <tr>
                                            <td>@String.Format("{0:ddd, MMM d, yyyy}", x.Clockin)</td>
                                            <td>@String.Format("{0:t}", x.Clockin)</td>
                                            @if (x.Clockout == DateTime.Parse("0001-01-01 00:00:00.0000000"))
                                            {
                                                <td>Belum Absen</td>
                                            }
                                            @if (x.Clockout != DateTime.Parse("0001-01-01 00:00:00.0000000"))
                                            {
                                                <td>@String.Format("{0:t}", x.Clockout)</td>
                                            }
                                            @if (x.Status == 5)
                                            {
                                                <td style="background-color:gray;color:white">Pulang Cepat</td>
                                            }
                                            @if (x.Status == 4)
                                            {
                                                <td style="background-color:yellow;color:white">Telat Masuk</td>
                                            }
                                            @if (x.Status == 3)
                                            {
                                                <td style="background-color:deepskyblue;color:white">Lembur</td>
                                            }
                                            @if (x.Status == 2)
                                            {
                                                <td style="background-color:greenyellow;color:white">Hadir</td>
                                            }
                                            @if (x.Status == 1)
                                            {
                                                <td style="background-color:red;color:white">Belum Absen Pulang</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>